:root {
  --accent: #f18260;
  --accent-faded: #f1826005;
  --black: #494863;
  --grey: #ccc;
  --system-fonts: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", Helvetica, "Helvetica Neue", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 50ch;
  padding: 5%;
  color: var(--black);
  font-family: var(--system-fonts);
  font-size: 1.5rem;
  line-height: 1.6;
}

h1 {
  font-size: 175%;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid var(--grey);
}

a:hover {
  border-color: var(--accent);
}

.easter-egg-link {
  border: none;
}

@media (max-width: 500px) {
  body { font-size: 1.125rem; }
}

::selection {
  background: #F18260;
  color: white;
}

::-moz-selection {
  background: #F18260;
  color: white;
}
