:root {
  --blue: #0045ff;
  --yellow: #f1d960;
  --black: #333;
  --white: #fff;
  --system-fonts: system-ui, sans-serif;

body {
  padding: 0;
  margin: 0;
  color: var(--white);
  background: var(--blue);
  font-family: var(--system-fonts);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}

article {
  padding: 5%;

  @media (max-width: 800px) {
    font-size: 1.2rem;
  }
}

header {
  line-height: 1.2;

}

h1 {
  font-size: 300%;
  margin-block-start: 0;
  margin-bottom: 1rem;
}

header p {
  font-size: 150%;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid;
}

a:hover {
  border-color: var(--yellow);
}

ul {
  line-height: 1.8;
}

li {
  padding-inline-start: 1ch;
  list-style-type: "💪";
}

li.deprecated {
  list-style-type: "☠️";
}

footer {
  margin-top: 5rem;
  font-family: var(--system-fonts);
  font-style: italic;
}

::selection {
  background: var(--yellow);
  color: var(--blue);
}

::-moz-selection {
  background: var(--yellow);
  color: var(--blue);
}
